.section-contact {
  position: relative;
  padding: 64px;
  margin: 64px;
  background-image: url("../../assets/contactImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 16px;
}

.section-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.533);
  z-index: 1;
  pointer-events: none;
}

.section-contact > * {
  position: relative;
  z-index: 2;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.name-field-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.name-field-container label {
  font-size: 20px;
  color: #fff;
}

.name-field {
  display: flex;
  gap: 16px;
}

.name-field input {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.778);
}

.name-field textarea {
  width: 100%;
  height: 20vh;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: rgb(255, 255, 255, 0.778);
}

.form-button {
  padding: 16px 32px;
  margin: 16px 0px;
  border-radius: 16px;
  border: none;
  background-color: orange;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
