nav {
    width: 100%;

    background-color: #fdf8f9;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    padding: 4px 0;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    height: 72px;
}

.logo {
    width: 72px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #0a0a0a;
    cursor: pointer;
}

.btn {
    color: #01161e;
    background-color: #87ceeb;
}

.btn:hover {
    background-color: #35aad8;
}

/* Media Queries */
@media (max-width: 969px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: rgba(102, 158, 218, 0.9);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        transition: max-height 0.7s ease-out, opacity 0.7s ease-out;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-links.open {
        opacity: 1;
        max-height: 500px;
        padding: 32px 0;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    nav ul li {
        margin: 10px 20px;
        padding: 12px 0;
    }
}
