.gallerybento {
    width: 100%;
    height: 900px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-top: 32px;
    margin-bottom: 32px;
}

.bentotop {
    flex: 1;
    display: flex;
    gap: 32px;
}

.bentotopright {
    flex: 3;
    display: flex;
    gap: 32px;
}

.bento1,
.bento2,
.bento4,
.bento6,
.bento8 {
    flex: 1;
}

.bento3,
.bento5,
.bento7 {
    flex: 2;
}

.bentobot {
    flex: 2;
    display: flex;
    gap: 32px;
}

.subbento {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.subbentotop,
.subbentobot {
    flex: 1;
    display: flex;
    gap: 32px;
}

/* TEMP STYLING FOR EASIER CODING, REMOVE WHEN PLACING IMAGES */
.bento1,
.bento2,
.bento3,
.bento4,
.bento5,
.bento6,
.bento7,
.bento8 {
    background-color: #87ceeb;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    font-weight: 700;
}

@media (max-width: 1024px) {
    .gallerybento {
        height: 700px;
    }
}

@media (max-width: 840px) {
    .gallerybento {
        height: 550px;
    }

    .gallerybento,
    .bentotop,
    .bentotopright,
    .bentobot,
    .subbento,
    .subbentotop,
    .subbentobot {
        gap: 12px;
    }
}

@media (max-width: 670px) {
    .gallerybento {
        height: 500px;
    }
}

@media (max-width: 512px) {
    .bento1,
    .bento4 {
        display: none;
    }

    .bento3,
    .bento5,
    .bento7 {
        flex: 1;
    }

    .gallerybento {
        height: 1350px;
    }

    .bentotopright,
    .subbentotop,
    .subbentobot {
        flex-direction: column;
    }
}
