.section-aim {
  padding: 64px;
}

.aim-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
}

.aim-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 2px #000c7b;
  border-radius: 16px;
  padding: 16px;
  background-color: #fafafa;
}

.aim-grid-container img {
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}

.grid-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.grid-desc {
  text-align: justify;
  line-height: 32px;
}

.section-aim h1 {
  text-align: center;
  margin-bottom: 32px;
  color: #757780;
}
